<mat-tab-group [(selectedIndex)]=selectedIndex>
    <mat-tab *ngIf="showCategory" label="Yaya category details"> <app-category-detail [category]="selectedCategory"></app-category-detail></mat-tab>
    <mat-tab *ngIf="showArea" label="Yaya area details"> <app-area-detail [area]="selectedArea"></app-area-detail></mat-tab>
    <mat-tab label="Yaya meals !" > <app-meal-list [category]="selectedCategory" [area]="selectedArea" (selectMealEvent)="openMealListTab($event)"></app-meal-list></mat-tab>
</mat-tab-group>
