<h1>Menu de Yaya</h1>

<div class="menu-container" layout="row">
  <div class="category-list">
    <app-category-list (updateCategoryEvent)="updateCategory($event)" ></app-category-list>
  </div>

  <div>
    <app-area-list (updateAreaEvent)="updateArea($event)"></app-area-list>
  </div>

  <div>
    <app-meal-search></app-meal-search>
  </div>

  <div class="menu-details">
    <app-menu-details [showArea]="showArea" [showCategory]="showCategory" [selectedCategory]="selectedCategory" [selectedArea]="selectedArea" *ngIf="showCategory || showArea"></app-menu-details>
  </div>
</div>
